@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
body {
  margin: 0px;
}

.Shrik {
  font-family: "Shrikhand";
}

.Roboto {
  font-family: "Roboto";
}

/* Début du loader */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes loader {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes loader {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

.Loader {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: loader 0.01s;
          animation: loader 0.01s;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.Loader-part {
  width: 75px;
  height: 75px;
  opacity: 1;
  position: fixed;
}

.Loader-part1:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: 50px;
  border: 3px solid transparent;
  border-top-color: #ff79da;
  -webkit-animation: spin 1.5s linear infinite;
          animation: spin 1.5s linear infinite;
}

.Loader-part2:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  bottom: 5px;
  right: 5px;
  border-radius: 50px;
  border: 3px solid transparent;
  border-top-color: #cf64dc;
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
}

.Loader-part3:after {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  border-radius: 50px;
  border: 3px solid transparent;
  border-top-color: #9356dc;
  -webkit-animation: spin 0.5s linear infinite;
          animation: spin 0.5s linear infinite;
}

/* Début du Header */
.Header .Header-logo {
  width: 175px;
  display: block;
  margin: auto;
  margin-bottom: 15px;
  margin-top: 15px;
}

.Description-site {
  margin-bottom: 20px;
}

.Description-site .Header-icon {
  margin: 0 10px;
}

.Description-site a {
  padding: 10px;
  font-size: 16px;
}

.Description-site .Header-icon {
  color: #3a3a3a;
}

.Description-site .Header-localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0px;
  background-color: #e6e1e1;
}

.Description-site .Header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #F2F3F4;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 60px;
}

.Description-site .Header-menu .Header-menu-title {
  font-size: 24px;
  font-weight: 700;
  width: 100%;
  text-align: center;
  margin: 20px 50px;
}

.Description-site .Header-menu .Header-menu-description {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 300;
}

.Description-site .Header-menu .Header-menu-button {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff79da), color-stop(#e86edb), color-stop(#cf64dc), color-stop(#b35cdc), to(#9356dc));
  background-image: linear-gradient(to bottom, #ff79da, #e86edb, #cf64dc, #b35cdc, #9356dc);
  padding: 15px 0;
  border-radius: 2rem;
}

.Description-site .Header-menu .Header-menu-button .Button-anchor {
  text-decoration: none;
  color: white;
  padding: 20px;
}

.Fonctionnement-mode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 50px;
}

.Fonctionnement-mode .Selection-header {
  margin-left: 15px;
}

.Choice-selection {
  -webkit-box-shadow: 2px 2px 10px #cccaca;
          box-shadow: 2px 2px 10px #cccaca;
  padding: 20px 20px;
  border-radius: 1rem 1rem 1rem 1rem;
  background-color: #f6f6f6;
  margin: 10px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: black;
}

.Choice-selection .Button-number {
  position: relative;
  bottom: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 1.5rem;
  width: 1.5rem;
  right: 10px;
  background: #9356DC;
  color: white;
  margin-left: -25px;
  border-radius: 100%;
}

.Choice-selection .Button-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: gray;
  margin: 0 20px;
  width: 1%;
}

.Choice-selection .Button-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
}

.Choice-selection:hover .Button-icon {
  color: #9356DC;
}

.Choice-selection:hover {
  background-color: #e9e1f3;
  cursor: default;
}

.Bloc-page {
  background-color: #f6f6f6;
  padding: 30px 0;
}

.Bloc-page .Restaurant {
  padding-left: 20px;
}

.Bloc-page img {
  height: 200px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  border-radius: 20px 20px 0 0;
}

.Bloc-page .Page-cadre {
  margin: 20px;
  -webkit-box-shadow: 2px 2px 10px lightgray;
          box-shadow: 2px 2px 10px lightgray;
  border-radius: 20px;
  position: relative;
  background-color: white;
  margin-bottom: 40px;
}

.Bloc-page .Page-cadre .Card-badge {
  background-color: #99E2D0;
  color: #008766;
  font-weight: 500;
  padding: 8px 13px;
  border-radius: 2px;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.Bloc-page .Page-description {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-bottom: 10px;
  padding-left: 10px;
}

.Bloc-page .Page-description .Text-description {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.Bloc-page .Page-description .Icone-description {
  font-size: 35px;
  width: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Bloc-page .Page-description .Icone-position {
  position: absolute;
}

.Bloc-page .Page-description .Icone-empty {
  font-size: 29px;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  opacity: 1;
}

.Bloc-page .Page-description .Icone-full {
  font-size: 29px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.Bloc-page .Page-description .Icone-empty:hover {
  opacity: 0;
}

.Bloc-page .Page-description .Icone-full:hover {
  opacity: 1;
}

.Bloc-page a {
  text-decoration: none;
  color: black;
}

.Bloc-page a .Text-description {
  line-height: 5px;
}

footer {
  background: #353535;
}

.Footer-bloc {
  margin-left: 25px;
  line-height: 30px;
  padding-bottom: 30px;
}

.Footer-bloc h2 {
  color: white;
  font-weight: 500;
  padding-top: 20px;
  margin-top: 0;
}

.Footer-bloc a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Footer-bloc a .Text-footer1 {
  padding-left: 15px;
}

.Footer-bloc a .Text-footer2 {
  padding-left: 8px;
}

.Footer-bloc div {
  color: white;
}

/* Menu */
.Header-global {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Header-global .Previous-menu .Header-icon-menu {
  position: absolute;
  left: 25px;
  top: 18px;
  font-size: 20px;
  color: #5f5f5f;
}

.Header-sous-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  padding-left: 10px;
  padding-top: 20px;
}

.Header-sous-menu .Menu-title {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.Header-sous-menu .Icone-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
}

.Header-sous-menu .Icone-position {
  position: absolute;
}

.Header-sous-menu .Icone-empty {
  font-size: 29px;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  opacity: 1;
}

.Header-sous-menu .Icone-full {
  font-size: 29px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.Header-sous-menu .Icone-empty:hover {
  opacity: 0;
}

.Header-sous-menu .Icone-full:hover {
  opacity: 1;
}

.Card-Image-Menu img {
  width: 100%;
  max-height: 512px;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 0;
}

.Bloc-menu-page {
  position: relative;
  margin-top: -50px;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #f6f6f6;
  border-radius: 30px 30px 0 0;
}

.Bloc-menu-page .Menu-title {
  width: 100%;
  margin: 10px;
  font-weight: 500;
  font-size: 26px;
}

.Bloc-menu-page .Sous-bloc-menu {
  margin: 0;
  width: 100%;
  overflow: hidden;
}

.Bloc-menu-page .Sous-bloc-menu .Sous-menu-title {
  font-weight: 400;
  margin-left: 20px;
  text-transform: uppercase;
}

.Bloc-menu-page .Sous-bloc-menu .Sous-menu-title:after {
  content: '';
  width: 50px;
  height: 5px;
  background-color: #99e2d0;
  position: absolute;
  left: 20px;
  margin-top: 25px;
}

.Bloc-menu-page .Under-bloc-menu .Card-description {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px;
  padding: 15px;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
  -webkit-box-shadow: 2px 2px 10px #cccaca;
          box-shadow: 2px 2px 10px #cccaca;
  -webkit-animation: spawncard 0.5s;
          animation: spawncard 0.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.Bloc-menu-page .Under-bloc-menu .Card-description .Sous-card-description {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 90%;
}

.Bloc-menu-page .Under-bloc-menu .Card-description .Sous-card-description .Under-title-menu {
  margin: 0;
  font-size: 18px;
}

.Bloc-menu-page .Under-bloc-menu .Card-description .Sous-card-description p {
  margin: 0;
  font-size: 14px;
}

.Bloc-menu-page .Under-bloc-menu .Card-description .Price-menu {
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.Bloc-menu-page .Under-bloc-menu .Card-description .Menu-confirmation {
  background-color: #99e2d0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 65px;
  height: auto;
  margin: -16px -80px -16px 16px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.Bloc-menu-page .Under-bloc-menu .Card-description .Menu-confirmation .Icon-confirmation {
  color: #99e2d0;
  background-color: white;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.Bloc-menu-page .Under-bloc-menu .c1 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.Bloc-menu-page .Under-bloc-menu .c2 {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

.Bloc-menu-page .Under-bloc-menu .c3 {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.Bloc-menu-page .Under-bloc-menu .c4 {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

.Bloc-menu-page .Under-bloc-menu .c5 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.Bloc-menu-page .Under-bloc-menu .c6 {
  -webkit-animation-delay: 1.25s;
          animation-delay: 1.25s;
}

.Bloc-menu-page .Under-bloc-menu .c7 {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.Bloc-menu-page .Under-bloc-menu .c8 {
  -webkit-animation-delay: 1.75s;
          animation-delay: 1.75s;
}

.Bloc-menu-page .Under-bloc-menu .c9 {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.Bloc-menu-page .Under-bloc-menu .c10 {
  -webkit-animation-delay: 2.25s;
          animation-delay: 2.25s;
}

.Bloc-menu-page .Under-bloc-menu .Card-description:hover .Icon-confirmation {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.Bloc-menu-page .Under-bloc-menu .Card-description:hover .Menu-confirmation {
  margin-right: -16px;
  cursor: pointer;
}

@-webkit-keyframes spawncard {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes spawncard {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.Command-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #F2F3F4;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 50px;
  padding-top: 20px;
}

.Command-button .Menu-button {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff79da), color-stop(#e86edb), color-stop(#cf64dc), color-stop(#b35cdc), to(#9356dc));
  background-image: linear-gradient(to bottom, #ff79da, #e86edb, #cf64dc, #b35cdc, #9356dc);
  padding: 15px 0;
  border-radius: 2rem;
}

.Command-button .Menu-button .Button-anchor {
  text-decoration: none;
  color: white;
  padding: 50px;
  font-weight: 500;
  font-size: 18px;
}

.Command-button .Menu-button .Button-anchor:hover {
  border-radius: 2rem;
}
/*# sourceMappingURL=style.css.map */