@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
@-webkit-keyframes Nouveau {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes Nouveau {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  margin: 0px;
}

.Shrik {
  font-family: "Shrikhand";
}

.Roboto {
  font-family: "Roboto";
}

.Header .Header-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px;
}

.Header .Header-icon {
  margin: 0 10px;
}

.Header a {
  padding: 10px;
  font-size: 20px;
}

.Header .Header-localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 3px solid lightgray;
  padding: 10px 0px;
  background-color: #e6e1e1;
}

.Header .Header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #F2F3F4;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 60px;
}

.Header .Header-menu .Header-menu-title {
  font-size: 16px;
  font-weight: 900;
  width: 100%;
  text-align: center;
}

.Header .Header-menu .Header-menu-description {
  font-size: 14px;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.Header .Header-menu .Header-menu-button {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f0a2e3), color-stop(#ec8fe0), color-stop(#e87bdd), color-stop(#e266da), to(#dc4ed7));
  background-image: linear-gradient(to bottom, #f0a2e3, #ec8fe0, #e87bdd, #e266da, #dc4ed7);
  padding: 15px 0;
  border: 1px solid linear-gradient(to bottom, #f0a2e3, #ec8fe0, #e87bdd, #e266da, #dc4ed7);
  border-radius: 2rem;
}

.Header .Header-menu .Header-menu-button .Button-anchor {
  text-decoration: none;
  color: white;
  padding: 15px;
}

.Fonctionnement-mode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Fonctionnement-mode .Selection-header {
  margin-left: 15px;
}

.Choice-selection {
  -webkit-box-shadow: 2px 2px 10px #cccaca;
          box-shadow: 2px 2px 10px #cccaca;
  padding: 15px;
  border-radius: 1rem 1rem 1rem 1rem;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Choice-selection .Button-number {
  position: relative;
  bottom: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 1.5rem;
  width: 1.5rem;
  right: 10px;
  background: -webkit-gradient(linear, left top, left bottom, from(#f0a2e3), color-stop(#ec8fe0), color-stop(#e87bdd), color-stop(#e266da), to(#dc4ed7));
  background: linear-gradient(to bottom, #f0a2e3, #ec8fe0, #e87bdd, #e266da, #dc4ed7);
  border: 1px solid linear-gradient(to bottom, #f0a2e3, #ec8fe0, #e87bdd, #e266da, #dc4ed7);
  border-radius: 100%;
}

.Choice-selection .Button-icon {
  position: relative;
  top: 2px;
  right: 5px;
  color: gray;
  margin: 0 5px;
}

.Bloc-page .Restaurant {
  padding-left: 20px;
}

.Bloc-page img {
  height: 200px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  border-radius: 30px 30px 0 0;
}

.Bloc-page .Page-cadre {
  padding: 10px;
  margin: 10px;
  -webkit-box-shadow: 2px 2px 10px white;
          box-shadow: 2px 2px 10px white;
  position: relative;
  background-color: #eaf4f8;
}

.Bloc-page .Page-cadre .Card-badge {
  background-color: #99E2D0;
  color: #FF79DA;
  padding: 6.66667px;
  border-radius: 0;
  position: absolute;
  top: 1.75rem;
  right: 1rem;
  -webkit-animation: 1s 1s 10 both Nouveau;
          animation: 1s 1s 10 both Nouveau;
}

.Bloc-page .Page-description {
  height: 40px;
}

.Bloc-page a {
  text-decoration: none;
  color: black;
}

.Bloc-page a h3 {
  line-height: 0;
}

footer {
  background: #353535;
}

.Footer-bloc {
  margin-left: 15px;
  line-height: 30px;
  padding-bottom: 20px;
}

.Footer-bloc h2 {
  color: white;
  font-weight: 500;
  padding-top: 20px;
}

.Footer-bloc a {
  text-decoration: none;
  color: white;
}

.Footer-bloc div {
  color: white;
}

/* Menu */
.Card-Image-Menu img {
  width: 100%;
  max-height: 512px;
  -o-object-fit: cover;
     object-fit: cover;
}

.Bloc-menu-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border: 1px solid black;
}

.Bloc-menu-page .Menu-title {
  width: 100%;
  margin: 10px;
}

.Bloc-menu-page .Sous-bloc-menu {
  border: 1px solid red;
  margin: 10px;
  width: 100%;
}
/*# sourceMappingURL=style.css.map */