@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap');

$Color-button: linear-gradient(to bottom, #ff79da, #e86edb, #cf64dc, #b35cdc, #9356dc);
$Color-background: #f6f6f6;
$size: 10px;


body {
    margin: 0px;
}

.Shrik {
    font-family: "Shrikhand";
}

.Roboto {
    font-family: "Roboto";
}

/* Début du loader */




@keyframes spin {
    0% { transform: rotate(0deg);}
    100% { transform: rotate(360deg);}
}

@keyframes loader {
    from {
        opacity: 0.8;
    }

    to {
        opacity: 0;
        transform: scale(0);
    }
}

.Loader {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: loader 0.01s;
    animation-delay: 3s;
    animation-fill-mode: both;
}

.Loader-part {
    width: 75px;
    height: 75px; 
    opacity: 1;
    position: fixed;
}


.Loader-part1:after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    border-radius: 50px;
    border: 3px solid transparent;
    border-top-color: #ff79da;
    animation: spin 1.5s linear infinite;
}

.Loader-part2:after {
    content: '';
    position: absolute;
    top: 5px; 
    left: 5px;
    bottom: 5px;
    right: 5px;
    border-radius: 50px;
    border: 3px solid transparent;
    border-top-color: #cf64dc;
    animation: spin 1s linear infinite;
}

.Loader-part3:after {
    content: '';
    position: absolute;
    top: 10px; 
    left: 10px;
    bottom: 10px;
    right: 10px;
    border-radius: 50px;
    border: 3px solid transparent;
    border-top-color: #9356dc;
    animation: spin 0.5s linear infinite;
}

/* Début du Header */

.Header {

    .Header-logo {
        width: 200px;
        display: block;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }

}

.Description-site {
    .Header-icon {
        margin: 0 10px;
    }

    a {
        padding: $size;
        font-size: $size * 2; 
    }

    .Header-localisation {
        display: flex;
        justify-content: center;
        border-top: 3px solid lightgray;
        padding: $size 0px;
        background-color: #e6e1e1;
    }

    .Header-menu {
        display: flex;
        justify-content: center;
        background-color: #F2F3F4;
        width: 100%;
        flex-wrap: wrap;
        padding-bottom: 60px;

        .Header-menu-title {
            font-size: 16px;
            font-weight: 900;
            width: 100%;
            text-align: center;
        }

        .Header-menu-description {
            font-size: 14px;
            width: 100%;
            text-align: center;
            margin-bottom: 20px;
        }
        
        .Header-menu-button {
            background-image: $Color-button;
            padding: ($size + 5px);
            border: 1px solid $Color-button;
            border-radius: 2rem;
            

            .Button-anchor {
                text-decoration: none;
                color: white;
                padding: $size + 5px;
            }
        }
    }
}


.Fonctionnement-mode {
    display: flex;
    flex-direction: column;

    .Selection-header {
        margin-left: 15px;
    }
}

.Choice-selection {
    box-shadow: 2px 2px 10px rgb(204, 202, 202);
    padding: 20px 20px;
    border-radius: 1rem 1rem 1rem 1rem;
    background-color: $Color-background;
    margin: 10px 30px;
    display: flex;
    text-decoration: none;
    color: black;
    
    .Button-number {
        position: relative;
        bottom: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 1.5rem;
        width: 1.5rem;
        right: 10px;
        background: #9356DC;
        border: 1px solid #9356DC;
        color: white;
        margin-left: -25px;
        border-radius: 100%;
    }

    .Button-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        color: gray;
        margin: 0 20px;
        width: 1%;
    }

    .Button-description {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
    }
}

.Choice-selection:hover .Button-icon {
    color: #9356DC;
}

.Choice-selection:hover {
    background-color: #e9e1f3;
    cursor: default;
}


.Bloc-page {

    background-color: $Color-background;

    .Restaurant {
        padding-left: $size * 2;
    }

    img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 30px 30px 0 0;
    }

    .Page-cadre {
        margin: $size * 2;
        box-shadow: 2px 2px 10px white;
        border-radius: 30px;
        position: relative;
        background-color: white;
        

        .Card-badge {
            background-color: #99E2D0;
            color: #1b6150;
            padding: $size / 1.5;
            border-radius: 2px;
            position: absolute;
            top: 1.75rem;
            right: 1rem;
        }
    }

    .Page-description {
        height: auto; 
        display: flex;
        width: 100%;
        padding-left: 15px;

        .Text-description {
            width: 90%;
        }

        .Icone-description {
            
            font-size: 35px;
            display: flex;
            align-items: center;
        }

        .Icone-empty {
            font-size: 30px;
            transition: all 0s linear;
        }

        .fa-gradient:hover {
            background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: bold;
            animation: heartanim 0.01s;
            animation-delay: 0s;
            animation-fill-mode: both;
        }

    }

    @keyframes heartanim {

        from {
            opacity: 0.3;
        }

        to {
            opacity: 1;
        }

    }

    a {
        text-decoration: none;
        color: black;

        .Text-description {
            line-height: 5px;
        }
        
    }
}

footer {
    background: #353535;
}

.Footer-bloc {
    margin-left: 15px;
    line-height: 30px;
    padding-bottom: $size * 2;
        
    h2 {
        color: white;
        font-weight: 500;
        padding-top: $size * 2;
        margin-top: 0;
    }

    a {
        text-decoration: none;
        color: white;

    }

    div {
        color: white;
        
    }
}

/* Menu */

.Header-global {

    display: flex;
    align-items: center;
    justify-content: center;

    .Previous-menu {

        .Header-icon-menu {
            position: absolute;
            left: 30px;
            top: 33px;
            font-size: 25px;
            color: black;
        }
    }
}

.Header-sous-menu {

    display: flex;
    width: 90%;
    padding-left: 30px;

    .Menu-title {
        width: 75%;
    }

    .Icone-description {
            
        font-size: 35px;
        display: flex;
        align-items: center;
    }

    .Icone-empty {
        font-size: 30px;
        transition: all 0s linear;
    }

    .fa-gradient:hover {
        background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
        animation: 1s 0 0 both heartanim;
    }
}

.Card-Image-Menu {
    img {
        width: 100%;
        max-height: 512px;
        object-fit: cover;
        z-index: 0;
    }
}

.Bloc-menu-page {
    position: relative;
    margin-top: -40px;
    z-index: 10;
    display: flex;
    flex-wrap: wrap;
    background-color: #f6f6f6;
    border-radius: 30px 30px 0 0;

    .Menu-title {
        width: 100%;
        margin: $size;
        font-weight: 500;
    }

    .Sous-bloc-menu {
        margin: $size;
        width: 100%;
        overflow: hidden;
        margin-bottom: 0;
        margin-top: 0;

        .Sous-menu-title {
            font-weight: 400;
            text-transform: uppercase;
        }

        .Sous-menu-title:after {
            content: '';
            width: 50px;
            height: 5px;
            background-color: #99e2d0;
            position: absolute;
            left: 11px;
            margin-top: 25px;
            
        }
    }

    .Under-bloc-menu {

        .Card-description {
            background-color: white;
            display: flex;
            justify-content: space-between;
            margin: $size * 2;
            padding: 15px;
            border: 1px solid white;
            border-radius: 15px;
            overflow: hidden;
            cursor: pointer;
            box-shadow: 2px 2px 10px rgb(204, 202, 202);
            animation: spawncard 0.5s;
            animation-fill-mode: both;
            animation-timing-function: ease-in;

            .c0 {
                animation-delay: 0s;
            }
            
            .c1 {
                animation-delay: 1s;
            }
            
            .c2 {
                animation-delay: 2s;
            }

            

            .Sous-card-description {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 90%;

                .Under-title-menu {
                    margin: 0;
                }

                p {
                    margin: 0;
                }
            }

            .Price-menu {
                font-weight: 700;
                display: flex;
                align-items: flex-end;
            }

            .Menu-confirmation {

                background-color: #99e2d0;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 65px;
                height: auto;
                margin: -16px -80px -16px 16px;

                .Icon-confirmation {
                    color: #99e2d0;
                    background-color: white;
                    border-radius: 100%;
                    width: 25px;
                    height: 25px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transform: rotate(180deg);
                }
            }
        }

        .Card-description:hover {
            cursor: pointer;
        }
    }
}

@keyframes spawncard {
    from {
        transform: scale(0.5);
    }
    
    to {
        transform: scale(1);
    }
}

   

.Command-button {
    display: flex;
    justify-content: center;
    background-color: #F2F3F4;
    width: 100%;
    flex-wrap: wrap;
    padding-bottom: 50px;
    padding-top: 20px;

    .Menu-button {
        background-image: $Color-button;
        padding: ($size + 5px);
        border: 1px solid $Color-button;
        border-radius: 2rem;
        

        .Button-anchor {
            text-decoration: none;
            color: white;
            padding: $size + 5px;
            font-weight: 500;
            font-size: 18px;
        }

        .Button-anchor:hover {
            border-radius: 2rem;
        }
    }
}